.numBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-image: url('../img/andrew-stutesman-l68Z6eF2peA-unsplash.jpg');
  background-position: bottom;
  position: fixed;
  bottom: 0;
  z-index: 0;
  padding: 0 3vw;
}

.numBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #dad4cc;
  z-index: -1;
}

.numContainer {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  align-items: center;
}

.number {
  color: #423c37;
  font-weight: 700;
  font-size: large;
  margin: 0.9em;
}

.number:hover {
  cursor: pointer;
}
